$primaryMagen:#ce2efb;
$magenLight:#fae7ff;
$primaryCyan:#0abdc6;
$cyanLight:#e7feff;
$secondaryCyan:#83e3fb;
$secondary:#9a83fb;
$magenDark:#280033;
$magenDark50:#750296;
$dark:#140138;
$magen:#ff00ff;
$cyan:#00ffff;