#Footer{
    font-family: "Orbitron",sans-serif;

   .social-media, .social-media-icon{
        color: rgb(132, 174, 195);
        transition: 0.5s;
    }
    
   .social-media-icon{
        width: 30px;
        height: 30px;
        padding: 8px;
        transition: 0.5s;
    }
   .anchor-footer:hover .social-media, .anchor-footer:hover .social-media-icon{
    color: $magenLight;
    }
    
}