@import 'react-circular-progressbar/dist/styles.css';

#LevelSkills{
    font-family: "Orbitron",sans-serif;
    .progressBar{
        max-width: 170px;

        .CircularProgressbar-path {
            stroke:$cyan;
          }
          .CircularProgressbar-trail {
            stroke: $magenDark;
          }

          .progress-bar-p{
            top: 50%;
          }

        .CircularProgressbar-text{
            fill: $magen;
            dominant-baseline: auto;
            font-size: 8px;
            text-shadow: $magenLight 0px 0px 10px;
        }
    }
}