#Projects {
    font-family: 'Raleway', sans-serif;

    .col-card-projects{
        overflow: hidden;
        height: 260px;
    }
    
    #Card{
        user-select: none;
        background-position: center center;
        background-size: cover;
        animation:2s showCard forwards;
        position: relative;
        
}

    .cardButtonsOverlay{
        opacity: 1;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        top: 0;
        transform: translateY(100%);
        background-color: #171717;
        height:260px;
        display: flex;
        justify-content: space-around;
        align-items:center;
        font-size: 40px;
        transition: all 1s ease;
        z-index: 990;
        border-top: 2px solid $cyan;
        svg{
            color: rgb(132, 174, 195);
            transition: all 0.3s ease;
        }

        svg:hover{
            color: $magenLight;
        }
    }


    .border-overflow{
        height: 250px;
        position: absolute;
        width: 100%;
        top: 0;
        border-bottom: 2px solid $cyan;
        z-index: 900;
    }

    #Card:hover {
        cursor: pointer;
        .cardButtonsOverlay{
            transform: translateY(0);
        }
    }

    #Card img {
        transition: .6s;
    }
    #Card img {
        filter: brightness(0.3);
    }
}

.modal-content {
    font-family: 'Raleway', sans-serif;
    background-color: $dark;
    color: $cyanLight;
    border-radius: 0;
    border: 1px solid cyan;
    padding: 16px;
}

.modal-button {
    font-family: "Orbitron", sans-serif;
}

.see-more-button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $magenLight;
    font-family: "Orbitron", sans-serif;
    background-color:#6e3c7c80 ;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: 0px 0px 5px 3px #0000005b;
    margin-bottom: 10px;
}
.see-more-button:hover{
    color: $cyan;
    background:#f31a7c75;
    transition: 0.6s ease-in-out;
}


@keyframes showCard {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

