#Studies{
    animation: showCard 2s forwards;
    font-family: 'Raleway', sans-serif;
    margin-top: 60px;
    .card{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .card-text{
        font-size: 14px;
    }

    .logo-study{
        width: 40px;
    }
}


